body {
  background-image: url(../images/weather_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#star {
  width: 22%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #0000;
}

#star_2 {
  width: 22%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #0000;
}

.content {
  color: white;
  font-size: 25px;
  font-family: roboto;
}

.temperature {
  font-size: 80px;
}

.project_Title {
  font-family: roboto;
}

#lottie_1 {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 400px;
  top: 300px;
}
#lottie_2 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 400px;
  top: 300px;
}
#lottie_3 {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 400px;
  top: 150px;
}
#lottie_4 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 400px;
  top: 150px;
}
#lottie_5 {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 500px;
  top: 300px;
}
#lottie_6 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 500px;
  top: 300px;
}
#lottie_7 {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 470px;
}

#lottie_8 {
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: 150px;
  left: 500px;
}
#lottie_9 {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 158px;
  right: 500px;
}
#lottie_10 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 450px;
  top: 20px;
}
